<<<<<<< HEAD
header{
    Background-color:#FF0000;
    height: 70px;
    width:100%;
=======
header {
    background-color: #FF0000;
    height: 70px;
    width: 100%;
>>>>>>> 1f587245bf7e652b69d3c02e3f803996a4ddccfa
}
